<link rel='stylesheet' href='/styles/index-style.css' />
<div
  class='container mt-5 d-flex flex-column align-items-center'
  style='max-width: 1000px; width: 70vw'
>
  <div class='w-100'>
    <select class='form-select' aria-label='Default select example'>
      <option selected>All</option>
      {{#each categories as |category|}}
        <option value='{{category.id}}'>{{category.name}}</option>
      {{/each}}
    </select>
  </div>
  <h3 class='text-center m-5 fs-5'>Total Amount
    <i class='fa-regular fa-dollar-sign text-primary mx-1 fs-3'></i><span
      class='text-primary fs-3'
    >{{totalAmount}}</span></h3>
  <table class='table table-striped'>
    <tbody>
      {{#each records as |record|}}
        <tr>
          <td>
            <i class='{{record.categoryIconUrl}} '></i>
          </td>
          <td>
            <p>{{record.name}}</p>
            <p>{{record.date}}</p>
          </td>
          <td>{{record.amount}}</td>
          <td>
            <a href='/records/edit/{{record.id}}'><i
                class='fa-solid fa-pen text-secondary mx-3'
              ></i></a>
            <a href='#'><i class='fa-solid fa-trash text-danger mx-3'></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a
    href='/records/create'
    class='btn btn-warning btn-sm text-dark m-3 fw-bold'
  >Create</a>
</div>