<link rel='stylesheet' href='/styles/index-style.css' />
<div
  class='container mt-5 d-flex flex-column align-items-center'
  style='max-width: 1000px; width: 70vw'
>
  <div class='w-100'>
    <form action='/records' method='get'>
      <select
        id='categorySort'
        name='categoryId'
        class='form-select'
        aria-label='Default select example'
      >
        <option value='0'>All</option>
        {{#each categories as |category|}}
          <option
            value='{{category.id}}'
            {{category.selected}}
          >{{category.name}}</option>
        {{/each}}
      </select>
    </form>
  </div>
  <h3 class='text-center m-5 fs-5'>Total Amount
    <i class='fa-regular fa-dollar-sign text-primary mx-1 fs-3'></i><span
      class='text-primary fs-3'
    >{{totalAmount}}</span></h3>
  <table id='item-container' class='table table-striped'>
    <tbody>
      {{#if records.length}}
        {{#each records as |record|}}
          <tr>
            <td>
              <i class='{{record.categoryIconUrl}} '></i>
            </td>
            <td>
              <p>{{record.name}}</p>
              <p>{{record.date}}</p>
            </td>
            <td>{{record.amount}}</td>
            <td class=''>
              <div
                class='container d-flex justify-content-end align-items-center'
              >
                <a href='/records/edit/{{record.id}}'><i
                    class='fa-solid fa-pen text-secondary mx-3'
                  ></i></a>
                <form
                  class='remove-item'
                  action='/records/{{record.id}}?_method=DELETE'
                  method='POST'
                  style='margin: 0rem'
                >
                  <button type='submit'>
                    <i class='fa-solid fa-trash text-danger mx-3'></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr><h4>No items...</h4></tr>
      {{/if}}
    </tbody>
  </table>
  <a
    href='/records/create'
    class='btn btn-warning btn-sm text-dark m-3 fw-bold'
  >Create</a>
</div>
<script src='/js/index-script.js'></script>